<div ng-include="'pages/sidebar.html'"></div>
<div class="content-page">
    <style>
        .action-icons i {
            font-size: 18px;
            color: #2a323c;
        }
		label{
			font-size: 12px!important;
		}
    </style>
                <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Details</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                
                                <div class="row">                                    
                                    <div class="col-sm-12 col-xs-12">
										<div class="pull-right">
											<button ng-click="write_to_excel()" class="pull-right btn btn-danger btn-sm" ng-show="admin">Export Report</button>
										</div>
										<h4>Total Entry: {{measureCount}}</h4>
                                        <div class="table-responsive">
											<h4>Report</h4>
                                            <table class="table table2excel table-bordered" id="tbExport">
                                                <thead>
												<tr style="display:none">
													<th>DATE</th>													
													<td>{{projectData.created_date}}</td>
													<th>PROJECT NAME</th>													
													<td>{{projectData.project_name}}</td>
													<th>COMPANY NAME</th>													
													<td>{{projectData.company_name}}</td>
													<th>FROM</th>													
													<td>{{projectData._from}}</td>	
													<th>TO</th>	
													<td>{{projectData._to}}</td>	
													<th>Work Order Number</th>	
													<td>{{projectData.work_order_number}}</td>		
													<th>Scope of Work ID No.</th>	
													<td>{{projectData.scope_wrk}}</td>	
													<th>Remarks</th>	
													<td>{{projectData.remarks}}</td>													
												</tr>
												<tr>
												</tr>
                                                <tr>
                                                    <th>PT No.</th>
                                                    <th>N</th>
                                                    <th>E</th>
                                                    <th>CH</th>
                                                    <th>Offset</th>
                                                    <th>RL</th>
                                                    <th>Layer Code</th>
                                                    <th>Category of Layer</th>
                                                    <th>Description</th>
                                                    <th>Remarks</th>
                                                    <th>Lat</th>
                                                    <th>Long</th>
                                                    <th>Zone</th>
                                                    <th>D</th>
                                                    <th>M</th>
                                                    <th>S</th>
                                                    <th>D</th>
                                                    <th>M</th>
                                                    <th>S</th>
                                                    <th>N</th>
                                                    <th>E</th>
                                                    <th>Z</th>
                                                    <th>Layer Code</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="val in measurementList">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td ng-bind="val.utm_northing"></td>
                                                        <td ng-bind="val.utm_easting"></td>
                                                        <td ng-bind="val.mapping_ch"></td>
                                                        <td ng-bind="val.measurment_ch"></td>
                                                        <td ng-bind="val.tbm_rl"></td>
                                                        <td ng-bind="val.layer_code"></td>
                                                        <td ng-bind="val.category"></td>
                                                        <td ng-bind="val.description"></td>
                                                        <td ng-bind="val.remarks"></td>
                                                        <td ng-bind="val.lattitude"></td>
                                                        <td ng-bind="val.longitude"></td>
                                                        <td ng-bind="val.utm_zone"></td>
                                                        <td ng-bind="val.latDeg"></td>
                                                        <td ng-bind="val.latMin"></td>
                                                        <td ng-bind="val.latSec"></td>
                                                        <td ng-bind="val.lngDeg"></td>
                                                        <td ng-bind="val.lngMin"></td>
                                                        <td ng-bind="val.lngSec"></td>
                                                        <td ng-bind="val.utm_northing"></td>
                                                        <td ng-bind="val.utm_easting"></td>
                                                        <td ng-bind="val.el"></td>
                                                        <td ng-bind="val.layer_code"></td>
                                                        <td>
                                                            <a href=""><i class="ion-trash-a" ng-click="delete(val.id)"></i></a>&nbsp;
                                                        </td>
                                                </tr>

                                                </tbody>
                                            </table>
											<table class="table table-bordered hide" id="tbExport">
												
												<tr>
													<td>SL NO. ATOMATED</td>
													<td colspan="3">
														<table class="table-bordered">
															<tr>
																<td colspan="3">SURVEY MAPPING LAYER. </td>
															</tr>
															<tr>
																<td>LAYER CODE</td>
																<td>CATEGORY OF LIST</td>
																<td>DESCRIPTION OF LAYER</td>
															</tr>
														</table>
													</td>
													<td colspan="5">
														<table class="table-bordered">
															<tr>
																<td colspan="5">MAPPING CO-ORDINATE</td>
															</tr>
															<tr>
																<td colspan="5">CONVERTED</td>
															</tr>
														</table>
													</td>
													<td colspan="3">
														<table class="table-bordered">
															<tr>
																<td colspan="3">CHAINAGE</td>
															</tr>
															<tr>
																<td>MAPPING CH.</td>
																<td>AUTO LEVEL MESURMENT</td>
																<td>MESURMENT CH.</td>
															</tr>
														</table>
													</td>
													<td colspan="3">
														<table class="table-bordered">
															<tr>
																<td colspan="3">OFFSET</td>
															</tr>
															<tr>
																<td>GPS OFFSET LEGTH</td>
																<td>L-SECTION OFFSET</td>
																<td>X-SECTION OFFSET</td>
															</tr>
														</table>
													</td>
													<td colspan="3">
														<table class="table-bordered">
															<tr>
																<td colspan="3">STAFF DISTANCE</td>
															</tr>
															<tr>
																<td>BS</td>
																<td>IS</td>
																<td>FS</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td colspan="2">ANGLE BEARING FROM SIGHT</td>
															</tr>
															<tr>
																<td>BS</td>
																<td>FS</td>
															</tr>
														</table>
													</td>
													<td colspan="6">
														<table class="table-bordered">
															<tr>
																<td colspan="6">STAFF READING</td>
															</tr>
															<tr>
																<td>BACK SITE</td>
																<td>READING ERROR</td>
																<td>INTERGRATED SITE</td>
																<td>READING ERROR</td>
																<td>FORWARD SITE</td>
																<td>READING ERROR</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td colspan="2">DIFFRENCE OF LEVEL</td>
															</tr>
															<tr>
																<td>RISE +</td>
																<td>FALL -</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>AVG. HIGHT OF INSTRUMENT FROM GL.</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>HIGHT OF INSTRUMENT</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>CALCULATED REDUCE RL</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>CHECKED REDUCE LEVEL</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>REMARKS</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>ADJUSTMENT ERROR</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>TBM RL</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>CLOSE PHOTOGRAPH</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>LOCATION PHOTOGRAPH</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>SCREEN SHOT OF LOCATION</td>
															</tr>
														</table>
													</td>
													<td colspan="2">
														<table class="table-bordered">
															<tr>
																<td>OTHER PHOTGRAPH</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr ng-repeat="val in measurementList">
													<td>{{$index + 1}}</td>
													<td>OCC</td>
													<td>Survey field</td>
													<td>Survey descr</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td>fdfdfds</td>
															</tr>
															<tr>
																<td>fdfdfds</td>
															</tr>
															<tr>
																<td>Deg</td>
															</tr>
															<tr>
																<td>min</td>
															</tr>
															<tr>
																<td>Sec</td>
															</tr>
															<tr>
																<td>f</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td colspan="2">D, M, S</td>
															</tr>
															<tr>
																<td>Lat</td>
																<td>Long</td>
															</tr>
															<tr>
																<td>23</td>
																<td>85</td>
															</tr>
															<tr>
																<td>30</td>
																<td>45</td>
															</tr>
															<tr>
																<td>5.0</td>
																<td>1.02</td>
															</tr>
															<tr>
																<td>N</td>
																<td>E</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td colspan="2">DATUM-84</td>
															</tr>
															<tr>
																<td>Lat</td>
																<td>Long</td>
															</tr>
															<tr>
																<td>23.5013888772321</td>
																<td>85.7502822668222</td>
															</tr>
															<tr>
																<td>UTM Zone</td>
																<td>45</td>
															</tr>
															<tr>
																<td>UTM Easting</td>
																<td>UTM Northing</td>
															</tr>
															<tr>
																<td>372397.527067825</td>
																<td>2599580.13179685</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td colspan="2">EL</td>
															</tr>
															<tr>
																<td rowspan="5">97.085</td>
															</tr>
														</table>
													</td>
													<td>
													</td>
													<td>
														0
													</td>
													<td>
														0
													</td>
													<td>
														0
													</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td>N + OFFSET  1981.566</td>
															</tr>
															<tr>
																<td>E + OFFSET  1981.566</td>
															</tr>
															<tr rowspan="4">
																<td>2857.946</td>
															</tr>
														</table>
													</td>
													<td>
														0
													</td>
													<td>
														0
													</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td colspan="3">OFFSET</td>
															</tr>
															<tr>
																<td>20</td>
																<td>0</td>
																<td>0</td>
															</tr>
															<tr>
																<td>Result</td>
																<td colspan="2">20</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td colspan="2">ANGLE</td>
															</tr>
															<tr>
																<td>20</td>
																<td>0</td>
															</tr>
															<tr>
																<td colspan="2">SUM</td>
															</tr>
															<tr>
																<td colspan="2">MEAN</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr>
																<td colspan="6">STAFF READING</td>
															</tr>
															<tr>
																<td>1.75</td>
																<td rowspan="5">0</td>
																<td>0</td>
																<td rowspan="5">0</td>
																<td>0</td>
																<td rowspan="5">0</td>
															</tr>
															<tr>
																<td>1.75</td>
																<td>0</td>
																<td>0</td>
															</tr>
															<tr>
																<td>1.75</td>
																<td>0</td>
																<td>0</td>
															</tr>
															<tr>
																<td>4.95</td>
																<td>0</td>
																<td>0</td>
															</tr>
															<tr>
																<td>1.650</td>
																<td>0</td>
																<td>0</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>1.650</td>
																<td>0.000</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>1.650</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>201.650</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>200.000</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>200.000</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>TBM-C85 ON THE HOUSE WALL OF THE ROAD R/S</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>0.0000</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td>200.000</td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td></td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td></td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td></td>
															</tr>
														</table>
													</td>
													<td>
														<table class="table-bordered">
															<tr rowspan="6">
																<td></td>
															</tr>
														</table>
													</td>
												</tr>
                                            </table>																						<button ng-click="write_to_datasheet()" class="pull-right btn btn-danger  btn-sm" ng-show="admin">Export Datasheet</button>
											<h4>Data Sheet</h4>											
											<table class="table table2datasheet table-bordered" id="tbExport">
												
												<tr>
													<td>SL NO. ATOMATED</td>
													<td>LAYER CODE</td>
													<td>CATEGORY OF LIST</td>
													<td>DESCRIPTION OF LAYER</td>
													<td>Lat D, M, S</td>
													<td>Long D, M, S</td>
													<td>Lattitude</td>
													<td>Longitude</td>
													<td>UTM Zone</td>
													<td>UTM Easting</td>
													<td>UTM Northing</td>
													<td>EL</td>
													<td>Mapping CH.</td>
													<td>AUTO LEVE MESURMENT</td>
													<td>MESURMENT CH.</td>
													<td>N + Offset</td>
													<td>E + Offset</td>
													<td>GPS OFFSET LENGTH</td>
													<td>L-SECTION OFFSET</td>
													<td>X-SECTION OFFSET</td>
													<td>BS OFFSET</td>
													<td>IS OFFSET</td>
													<td>FS OFFSET</td>
													<td>OFFSET RESULT</td>
													<td>BS ANGLE</td>
													<td>FS ANGLE</td>
													<td>BACK SITE</td>
													<td>SUM</td>
													<td>MEAN</td>
													<td>READING ERROR</td>
													<td>INTERGRATED SITE</td>
													<td>SUM</td>
													<td>MEAN</td>
													<td>READING ERROR</td>
													<td>FORWARD SITE</td>
													<td>SUM</td>
													<td>MEAN</td>
													<td>READING ERROR</td>
													<td>RISE +</td>
													<td>FALL -</td>
													<td>AVG. HIGHT OF INSTRUMENT FROM GL.</td>
													<td>HIGHT OF INSTRUMENT</td>
													<td>CALCULATED REDUCE RL</td>
													<td>CHECKED REDUCE LEVEL</td>
													<td>REMARKS</td>
													<td>ADJUSTMENT ERROR</td>
													<td>TBM RL</td>
													<td>CLOSE PHOTOGRAPH</td>
													<td>LOCATION PHOTOGRAPH</td>
													<td>SCREEN SHOT OF LOCATION </td>
													<td>OTHER PHOTGRAPH</td>
												</tr>
												<tr ng-repeat="val in measurementList">
													<td>{{$index+1}}</td>
													<td ng-bind="val.layer_code"></td>
													<td ng-bind="val.category"></td>
													<td ng-bind="val.description"></td>
													<td>{{val.latDeg}}, {{val.latMin}}, {{val.latSec}}</td>
													<td>{{val.lngDeg}}, {{val.lngMin}}, {{val.lngSec}}</td>
													<td ng-bind="val.lattitude"></td>
													<td ng-bind="val.longitude"></td>
													<td ng-bind="val.utm_zone"></td>
													<td ng-bind="val.utm_easting"></td>
													<td ng-bind="val.utm_northing"></td>
													<td ng-bind="val.el"></td>
													<td ng-bind="val.mapping_ch"></td>
													<td ng-bind="val.ch_by_auto_level"></td>
													<td ng-bind="val.measurment_ch"></td>
													<td ng-bind="val.n_offset"></td>
													<td ng-bind="val.e_offset"></td>
													<td ng-bind="val.gps_offset_length"></td>
													<td ng-bind="val.l_section_offset"></td>
													<td ng-bind="val.x_section_offset"></td>
													<td ng-bind="val.bs_offset"></td>
													<td ng-bind="val.is_offset"></td>
													<td ng-bind="val.fs_offset"></td>
													<td ng-bind="val.offset_result"></td>
													<td ng-bind="val.bs_angle"></td>
													<td ng-bind="val.fs_angle"></td>
													<td ng-bind="val.back_site"></td>
													<td ng-bind="val.bs_sum"></td>
													<td ng-bind="val.bs_mean"></td>
													<td ng-bind="val.bs_reading_error"></td>
													<td ng-bind="val.intermediate_site"></td>
													<td ng-bind="val.is_sum"></td>
													<td ng-bind="val.is_mean"></td>
													<td ng-bind="val.is_reading_error"></td>
													<td ng-bind="val.forward_site"></td>
													<td ng-bind="val.fs_sum"></td>
													<td ng-bind="val.fs_mean"></td>
													<td ng-bind="val.fs_reading_error"></td>
													<td ng-bind="val.rise_plus"></td>
													<td ng-bind="val.fall_minus"></td>
													<td ng-bind="val.avg_hight_of_instrument_from_gl"></td>
													<td ng-bind="val.hight_of_instrument"></td>
													<td ng-bind="val.calculated_reduce_rl"></td>
													<td ng-bind="val.checked_reduce_level"></td>
													<td ng-bind="val.remarks"></td>
													<td ng-bind="val.adjustment_error"></td>
													<td ng-bind="val.tbm_rl"></td>
													<td><img src="{{val.close_photograph}}" style="width: 83px;"></td>
													<td><img src="{{val.location_photograph}}"  style="width: 83px;"></td>
													<td><img src="{{val.screen_shot}}"  style="width: 83px;"></td>
													<td><img src="{{val.other_photograph}}"  style="width: 83px;"></td>
												</tr>
											</table>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->

            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->
    
</div>