<div ng-include="'pages/sidebar.html'"></div>
<div class="content-page">
     <style>
        .action-icons i {
            font-size: 18px;
            color: #2a323c;
        }
		
		label{
			font-size: 12px!important;
		}
    </style>   
     <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Users</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-body">
                                                        <h4 class="m-b-30 m-t-0">Users List</h4>
														<a href="" class="pull-right btn btn-info" ng-click="exportToCSV()">Export to CSV</a>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="table-responsive">
                                                                    <table class="table" id="users">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Name</th>
                                                                            <th>Email ID</th>
                                                                            <th>Phone Number</th>
                                                                            <th>Employment No.</th>
                                                                            <th>Identification No.</th>
                                                                            <th>Role</th>
                                                                            <th>Date</th>
                                                                            <th>Status</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="val in usersList">
                                                                                <td ng-bind="$index + 1"></td>
                                                                                <td ng-bind="val.name"></td>
                                                                                <td ng-bind="val.email_id"></td>
                                                                                <td ng-bind="val.mobile"></td>
                                                                                <td ng-bind="val.emp_id"></td>
                                                                                <td ng-bind="val.id_no"></td>
                                                                                <td ng-bind="val.user_role"></td>
                                                                                <td ng-bind="val.created_date"></td>
                                                                                <td ng-if="val.status == '0'"> Inactive</td>
                                                                                <td ng-if="val.status == '1'"> Active</td>
                                                                                <td>
                                                                                    <a href=""><i class="ion-trash-a" ng-click="delete(val.id)"></i></a>&nbsp;
                                                                                    <a href=""><i class="ion-edit" ng-click="edit(val.id)"></i></a>&nbsp;
                                                                                    <a href=""><i class="ion-flag" ng-click="approve(val.status,val.id)"></i></a>&nbsp;
                                                                                </td>
                                                                        </tr>
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- End row -->
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->

            </div><!-- container -->

        </div> <!-- Page content Wrapper -->
        <div id="update-users-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">Update User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="m-t-20">
                        <h4 class="{{class}} text-center">{{message}}</h4>
                        <form class="form-horizontal m-t-20" name="registerForm" ng-submit="updateUser()">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Full Name"
                                            ng-model="registration.name"
                                            name="name"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.name.$error" ng-if="registerForm.name.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Phone Number"
                                            ng-model="registration.phone"
                                            name="phone"
                                            autocomplete="off"
                                            ng-minlength="10"
                                            ng-maxlength="10"
                                            required
                                            >
                                        <div ng-messages="registerForm.phone.$error" ng-if="registerForm.phone.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                            <div ng-message="minlength" class="error">Phone Number is too short</div>
                                            <div ng-message="maxlength" class="error">Phone Number is too Long</div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Residential Address</h5>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Address"
                                            ng-model="registration.address"
                                            name="address"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.address.$error" ng-if="registerForm.address.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="City"
                                            ng-model="registration.city"
                                            name="city"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.city.$error" ng-if="registerForm.city.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="District"
                                            ng-model="registration.district"
                                            name="district"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.district.$error" ng-if="registerForm.district.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Pin code"
                                            ng-model="registration.pincode"
                                            name="pincode"
                                            autocomplete="off"
                                            ng-minlength="6"
                                            ng-maxlength="6"
                                            required
                                        >
                                        <div ng-messages="registerForm.pincode.$error" ng-if="registerForm.pincode.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                            <div ng-message="minlength" class="error">Pin code is too short</div>
                                            <div ng-message="maxlength" class="error">Pin code is too Long</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="State"
                                            ng-model="registration.state"
                                            name="state"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.state.$error" ng-if="registerForm.state.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Country"
                                            ng-model="registration.country"
                                            name="country"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.country.$error" ng-if="registerForm.country.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="email"                                     
                                            placeholder="Email ID"
                                            ng-model="registration.email"
                                            name="email"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Identification Number"
                                            ng-model="registration.id_no"
                                            name="id_no"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.id_no.$error" ng-if="registerForm.id_no.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Corporate Address</h5>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Address"
                                            ng-model="registration.corpaddress"
                                            name="corpaddress"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.corpaddress.$error" ng-if="registerForm.corpaddress.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Employment Id"
                                            ng-model="registration.emp_id"
                                            name="emp_id"
                                            autocomplete="off"
                                            required
                                        >

                                        <div ng-messages="registerForm.emp_id.$error" ng-if="registerForm.emp_id.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="City"
                                            ng-model="registration.corpcity"
                                            name="corpcity"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.corpcity.$error" ng-if="registerForm.corpcity.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="District"
                                            ng-model="registration.corpdistrict"
                                            name="corpdistrict"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.corpdistrict.$error" ng-if="registerForm.corpdistrict.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Pin code"
                                            ng-model="registration.corppincode"
                                            name="corppincode"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.corppincode.$error" ng-if="registerForm.corppincode.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="State"
                                            ng-model="registration.corpstate"
                                            name="corpstate"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.corpstate.$error" ng-if="registerForm.corpstate.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="text"                                     
                                            placeholder="Country"
                                            ng-model="registration.corpcountry"
                                            name="corpcountry"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.corpcountry.$error" ng-if="registerForm.corpcountry.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center m-t-40">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit" ng-disabled="registerForm.$invalid">Update</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="assign-role-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">Assign Role</h4>
                    </div>
                    <div class="modal-body">
                        <div class="m-t-20">
                            <form class="form-horizontal m-t-20" name="roleForm" ng-submit="approve()">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <select 
                                            class="form-control"
                                            ng-model="roles.type"
                                            required
                                            name="name"
                                        >
                                            <option ng-repeat="val in role" values="{{val.name}}">{{val.name}}</option>
                                        </select>
										
                                        <div ng-messages="roleForm.name.$error" ng-if="roleForm.name.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-40">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit" ng-disabled="roleForm.$invalid">Update</button>
                                    </div>
                                </div>
                            </div>
                            </form>    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
                
    </div> <!-- content -->
</div>