<div ng-include="'pages/sidebar.html'"></div>
<div class="content-page">
     <style>
        .action-icons i {
            font-size: 18px;
            color: #2a323c;
        }
		
		label{
			font-size: 12px!important;
		}
    </style>   
     <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Equipments List</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-body">
                                                        <h4 class="m-b-30 m-t-0">Equipments List</h4>														 
                                                        <div class="row">
															<a href="" class="pull-right btn btn-info" data-toggle="modal" data-target="#add-role-modal">Add Equipments</a>
                                                            <div class="col-sm-12">
																
                                                                <div class="table-responsive">
                                                                    <table class="table" id="users">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Model Number</th>
                                                                            <th>Last calibration service center</th>
                                                                            <th>Expiry Date</th>
                                                                            <th>Least count</th>
                                                                            <th>Owner / Incharge</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="val in usersList">
                                                                                <td ng-bind="$index + 1"></td>
                                                                                <td ng-bind="val.model_number"></td>
                                                                                <td ng-bind="val.last_calibration_service_center"></td>
                                                                                <td ng-bind="val.expiry_date"></td>
                                                                                <td ng-bind="val.least_count"></td>
                                                                                <td ng-bind="val.owner"></td>
                                                                                <td>
                                                                                    <a href=""><i class="ion-trash-a" ng-click="delete(val.id)"></i></a>&nbsp;
                                                                                    <a href=""><i class="ion-edit" ng-click="edit(val)"></i></a>&nbsp;
                                                                                </td>
                                                                        </tr>
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- End row -->
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->

            </div><!-- container -->

        </div> <!-- Page content Wrapper -->        
        <div id="add-role-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">Equipments Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="m-t-20">
                            <form class="form-horizontal m-t-20" name="equipentAddForm" ng-submit="add()">
							<p class="error">{{errorMessage}}</p>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-xs-12">                                       
										<input 
											class="form-control" 
											type="text" 
											placeholder="Model No."
											ng-model="equipent.model"
											name="model"
											autocomplete="off"
											required
										>
                                        <div ng-messages="equipentAddForm.model.$error" ng-if="equipentAddForm.model.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">                                       
										<input 
											class="form-control" 
											type="text" 
											placeholder="Last Calibration Service Center"
											ng-model="equipent.calibration"
											name="calibration"
											autocomplete="off"
											required
										>
                                        <div ng-messages="equipentAddForm.calibration.$error" ng-if="equipentAddForm.calibration.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">                                       
										<input 
											class="form-control" 
											type="date" 
											placeholder="Expiry date"
											ng-model="equipent.exp_date"
											name="exp_date"
											autocomplete="off"
											required
										>
                                        <div ng-messages="equipentAddForm.exp_date.$error" ng-if="equipentAddForm.exp_date.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">                                       
										<input 
											class="form-control" 
											type="text" 
											placeholder="Least Count"
											ng-model="equipent.least_count"
											name="least_count"
											autocomplete="off"
											required
										>
                                        <div ng-messages="equipentAddForm.least_count.$error" ng-if="equipentAddForm.least_count.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">                                       
										<input 
											class="form-control" 
											type="text" 
											placeholder="Owner or Incharge"
											ng-model="equipent.owner"
											name="owner"
											autocomplete="off"
											required
										>
                                        <div ng-messages="equipentAddForm.owner.$error" ng-if="equipentAddForm.owner.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-40">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit" ng-disabled="equipentAddForm.$invalid">Add</button>
                                    </div>
                                </div>
                            </div>
                            </form>    
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
                
    </div> <!-- content -->
</div>