<div ng-include="'pages/sidebar.html'"></div>
<div class="content-page">
    <style>
        .action-icons i {
            font-size: 18px;
            color: #2a323c;
        }
		label{
			font-size: 12px!important;
		}
    </style>
                <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Details</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                
                                <div class="row">                                    
                                    <div class="col-sm-12 col-xs-12">
										<button ng-click="write_to_excel()">Export to Excel</button>
                                        <div class="table-responsive">
                                            <table class="table table2excel" id="tbExport">
                                                <thead>
												<tr style="display:none">
													<th>DATE</th>													
													<td>{{project_data.date}}</td>
													<th>PROJECT NAME</th>													
													<td>{{project_data.project_name}}</td>
													<th>COMPANY NAME</th>													
													<td>{{project_data.company_name}}</td>
													<th>FROM</th>													
													<td>{{project_data._from}}</td>	
													<th>TO</th>													
													<td>{{project_data._to}}</td>													
												</tr>
												<tr>
												</tr>
                                                <tr>
                                                    <th>#</th>
                                                    <th>CH</th>
                                                    <th>Back Site</th>
                                                    <th>Intermediate Site</th>
                                                    <th>Fore Site</th>
                                                    <th>Hight of Instrument</th>
                                                    <th>Reduce Level</th>
                                                    <th>Layer Library</th>
                                                    <th>Remarks</th>
                                                    <th>ADJ</th>
                                                    <th>ADJ. RL</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>Northing</th>
                                                    <th>Easting</th>
                                                    <th>Offset of Map</th>
                                                    <th>Measurement offset</th>
                                                    <th>Measurement by chainage</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="val in measurementList">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td ng-bind="val.ch"></td>
                                                        <td ng-bind="val.back_site"></td>
                                                        <td ng-bind="val.intermediate_site"></td>
                                                        <td ng-bind="val.fore_site"></td>
                                                        <td ng-bind="val.hight_of_instrument"></td>
                                                        <td ng-bind="val.reduce_level"></td>
                                                        <td ng-bind="val.layer_name"></td>
                                                        <td ng-bind="val.remarks"></td>
                                                        <td ng-bind="val.adj"></td>
                                                        <td ng-bind="val.adj_rl"></td>
                                                        <td ng-bind="val.lattitude"></td>
                                                        <td ng-bind="val.longitude"></td>
                                                        <td ng-bind="val.northing"></td>
                                                        <td ng-bind="val.easting"></td>
                                                        <td ng-bind="val.offset_length"></td>
                                                        <td ng-bind="val.measurement_offset"></td>
                                                        <td ng-bind="val.measurement_ch"></td>
                                                        <td>
                                                            <a href=""><i class="ion-trash-a" ng-click="delete(val.id)"></i></a>&nbsp;
                                                            <!--<a href=""><i class="ion-edit" ng-click="edit(val)"></i></a>-->
                                                        </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->

            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->
    
</div>