<div ng-include="'pages/sidebar.html'"></div>
<div class="content-page">
     <style>
        .action-icons i {
            font-size: 18px;
            color: #2a323c;
        }
		
		label{
			font-size: 10px!important;
		}
    </style>   
     <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Projects</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-body">
                                                        <h4 class="m-b-30 m-t-0">Projects List</h4>
														<a href="" class="pull-right btn btn-info" ng-click="exportToCSV()">Export to CSV</a>
														<br>
														<br>
                                                        <a href="" class="pull-right btn btn-info" data-toggle="modal" data-target="#add-project-modal">Add Project</a>
                                                        <div class="row" ng-show="addMeasurementListHolder">
                                                            <div class="col-xs-12">
                                                                <div class="table-responsive">
                                                                    <table class="table" id="projects">
                                                                        <thead>
                                                                        <tr>
																			<th>Client ID</th>
                                                                            <th>Name</th>
                                                                            <th>Company Name</th>
                                                                            <th>From</th>
                                                                            <th>To</th>
                                                                            <th>Work Order Number</th>
                                                                            <th>Scope of Work ID No</th>
                                                                            <th>Start Date & Time</th>
                                                                            <th>Last Update Date & Time</th>
                                                                            <th>Remarks</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="val in projectsList">
																				<td ng-bind="val.id"></td>
                                                                                <td ng-bind="val.project_name"></td>
                                                                                <td ng-bind="val.company_name"></td>
                                                                                <td ng-bind="val._from"></td>
                                                                                <td ng-bind="val._to"></td>                                           
                                                                                <td ng-bind="val.work_order_number"></td>
                                                                                <td ng-bind="val.scope_wrk"></td>
                                                                                <td ng-bind="val.created_date"></td>
                                                                                <td ng-bind="val.updated_date"></td>
                                                                                <td ng-bind="val.remarks"></td>
                                                                                <td>
                                                                                    <a href=""><i class="ion-trash-a" ng-click="delete(val.id)"></i></a>&nbsp;
                                                                                    <a href=""><i class="ion-edit" ng-click="edit(val)"></i></a>&nbsp;
                                                                                    <a href="" ng-click="addBasic(val.id)"><i class="ion-plus-round"></i></a>&nbsp;
                                                                                    <a href="#!/measurements/{{val.id}}"><i class="ion-ios7-download"></i></a>
                                                                                </td>
                                                                        </tr>
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- End row -->
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
							<div class="" ng-show="addMeasurementHolder">
                            <h4 class="{{class}}">{{message}}</h4>  
								<form style="overflow: hidden;">
										<div class="form-group col-sm-3">
											<label>Latitude(D, M, S)</label>
											<input 
												class="form-control" 
												type="text" 
												placeholder="Latitude"
												ng-model="measure.latitudeDMS"
												name="latitude"
												autocomplete="off"
												required
												id="lat"
												disabled
											>
										</div>
										<div class="form-group col-sm-3">
											<label>Longitude(D, M, S)</label>
											<input 
												class="form-control" 
												type="text" 
												placeholder="Longitude"
												ng-model="measure.longitudeDMS"
												name="longitude"
												autocomplete="off"
												required
												id="lng"
												disabled
											>
										</div>
										<div class="form-group col-sm-3">
											<label>Northing</label>
											<input 
												class="form-control" 
												type="text" 
												placeholder="Northing"
												ng-model="measure.northing"
												name="northing"
												autocomplete="off"
												required
												disabled
											>
										</div>
										<div class="form-group col-sm-3">
											<label>Easting</label>
											<input 
												class="form-control" 
												type="text" 
												placeholder="Easting"
												ng-model="measure.easting"
												name="easting"
												autocomplete="off"
												required
												disabled
											>
										</div>	
								</form>
								<form name="opamgForm" ng-show="switchForm1">  
										<div id="map_canvas" style="height: 500px;position: relative;/* overflow: hidden; */"></div>
								</form>
								<form name="opamgForm1" ng-show="switchForm2">
										<div class='form-group col-sm-3'>
											<label>Mapping CH</label>
											<input 
												class='form-control' 
												ng-model='measure.ch' 
												placeholder='Mapping CH' 
												disabled
											>
										</div>
										<div class='form-group col-sm-3'>
											<label>Measurment CH</label>
											<input 
												class='form-control' 
												ng-model='measure.measurement_ch' 
												placeholder='Measurment CH' 
												disabled
											>
										</div>
										<div class='form-group col-sm-3'>
											<label>GPS Offset Length</label>
											<input 
												class='form-control' 
												ng-model='measure.gps_offset_length' 
												placeholder='GPS Offset Length' 
												disabled
											>
										</div>
										<div class='form-group col-sm-3'>
											<label>N offset, E offset</label>
											<input 
												class='form-control' 
												ng-model='measure.n_offset' 
												placeholder="N offset"
												disabled style='height: 20px;'>
											<input
												class='form-control' 
												ng-model='measure.e_offset' 
												placeholder="E offset"
												disabled style='height: 19px;'>
										</div>
										<div class='form-group col-sm-6'>
											<input 
												class='form-control'  
												ng-model='measure.lSection' 
												placeholder='L-Section Offset'
												ng-blur="calMeasurementCH()"
												required>
										</div>
										<div class='form-group col-sm-6'>
											<input 
												class='form-control'
												ng-model='measure.xSection' 
												placeholder='X-Section Offset' 
												ng-blur="calMeasurementCH()"
												required>
										</div>
										<div class='form-group col-sm-12'>
											<angucomplete-alt id='members'placeholder='Search Layers'pause='400'selected-object='layerString' remote-url='server/getLayers.php?s='remote-url-data-field='data'title-field='code'description-field='description'minlength='1'input-class='form-control form-control-small' ng-model='measure.layer_name'/>
										</div>
										<div class='form-group col-sm-12'>
											<select class="form-control" ng-model="measure.number">
												<option value="1">1</option>
												<option value="3">3</option>
											</select>
										</div>
										<div class='form-group col-sm-4' ng-repeat=" i in [] | range:measure.number">
											<input 
												class="form-control" 
												name="back_site" 
												placeholder='Back Site' 
												id="back_site_{{$index + 1}}"
												required>
										</div>
										<div class='form-group col-sm-4' ng-repeat=" i in [] | range:measure.number">
											<input 
												class='form-control'  
												id="intermediate_site_{{$index + 1}}"
												placeholder='Intermediate Site' 
												required>
										</div>
										<div class='form-group col-sm-4' ng-repeat=" i in [] | range:measure.number">
											<input 
												class='form-control' 
												name='fore_site' 
												id="fore_site_{{$index + 1}}"
												placeholder='Fore Site' 
												required>
										</div>
										<div class='form-group col-sm-6'>
											<input 
												class='form-control' 
												name='intermediate_site' 
												ng-model='measure.dgps' 
												placeholder='DGPS Filename'>
										</div>
										<div class='form-group col-sm-6'>
											<input 
												class='form-control' 
												name='intermediate_site' 
												ng-model='measure.el'									
												placeholder='EL'>
										</div>
										<div class="text-center">
											<label>USING EQUIPMENTS LIST & FEUTURES</label>
										</div>
										<div class="form-group col-md-4">
											<select class="form-control" ng-model="measure.equipment" ng-change="readEquipment(measure.equipment)">
												<option ng-repeat="val in equipmentList" value="{{val}}">{{val.model_number}}</option>
											</select>
										</div>
										<div class="form-group col-md-4">
											<input 
												class="form-control" 
												type="text" 
												placeholder="LAST CALIBRATION SERVIVE CENTER"
												ng-model="equipment.last_calibration_service_center"
												autocomplete="off"
												ng-disabled="true"
											>
										</div>
										<div class="form-group col-md-4">
											<input 
												class="form-control" 
												type="text" 
												placeholder="EXPIRY DATE"
												ng-model="equipment.expiry_date"
												autocomplete="off"
												ng-disabled="true"
											>
										</div>
										<div class="form-group col-md-6">
											<input 
												class="form-control" 
												type="text" 
												placeholder="LEAST COUNT"
												ng-model="equipment.least_count"
												autocomplete="off"
												ng-disabled="true"
											>
										</div>
										<div class="form-group col-md-6">
											<input 
												class="form-control" 
												type="text" 
												placeholder="OWNER / INCHARGE"
												ng-model="equipment.owner"
												autocomplete="off"
												ng-disabled="true"
											>
										</div>
										<div class="form-group col-md-4">
											<input 
												class="form-control" 
												type="text" 
												placeholder="Hight of Instrument"
												ng-model="measure.heightOfInstrument"
												autocomplete="off"
												disabled
											>
										</div>	
										<div class="form-group col-md-4">
											<input 
												class="form-control" 
												type="text" 
												placeholder="ADJ RL"
												ng-model="measure.adj_rl"
												autocomplete="off"
											>
										</div>	
										<div class="form-group col-md-4">
											<input 
												class="form-control" 
												type="text" 
												placeholder="TBM RL"
												ng-model="measure.tbm_rl"
												autocomplete="off"
												ng-blur="calCoreCal()"
											>
										</div>
										<div class="form-group col-md-12">
											<input 
												class="form-control" 
												type="text" 
												placeholder="Remarks"
												ng-model="measure.remarks"
												name="remarks"
												autocomplete="off"
											>
										</div>
										<div class="form-group col-md-6">
											<input 
												class="form-control" 
												type="text" 
												placeholder="BS Angle"
												ng-model="measure.bs_angle"
												name="remarks"
												autocomplete="off"
											>
										</div>
										<div class="form-group col-md-6">
											<input 
												class="form-control" 
												type="text" 
												placeholder="FS Angle"
												ng-model="measure.fs_angle"
												name="remarks"
												autocomplete="off"
											>
										</div>
										<div class="form-group col-md-3">
											<label>Close Photograph</label>
											<div class="file-upload">
												<input type="file" file-model="closeMyFile"/>
											</div>
										</div>
										<div class="form-group col-md-3">
											<label>Location Photograph</label>
											<div class="file-upload">
												<input type="file" file-model="LocationMyFile"/>
											</div>
										</div>
										<div class="form-group col-md-3">
											<label>Screen shot of location</label>
											<div class="file-upload">
												<input type="file" file-model="ScreenMyFile"/>
											</div>
										</div>
										<div class="form-group col-md-3">
											<label>Other Photograph</label>
											<div class="file-upload">
												<input type="file" file-model="OtherMyFile"/>
											</div>
										</div>
										<div class="form-group col-md-6">
											<button type="button" class="btn btn-primary waves-effect waves-light" ng-disabled="opamgForm1.$invalid" ng-click="addMeasurement()">Save changes</button>
										</div>
									</form>
									<div class="clearfix"></div>
							</div>
                        </div>
                    </div>
                </div>

                <!-- end row -->
            </div><!-- container -->

        </div> <!-- Page content Wrapper -->
        <div id="add-project-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">Add Project</h4>
                    </div>
                    <div class="modal-body">
                        <div class="m-t-20">
                            <h4 class="{{class}}">{{message}}</h4>
                        <form class="" name="projectForm">
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Company Name"
                                        ng-model="projectData.pro_company_name"
                                        name="pro_company_name"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_company_name.$error" ng-if="projectForm.pro_company_name.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Project Name"
                                        ng-model="projectData.pro_name"
                                        name="pro_name"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_name.$error" ng-if="projectForm.pro_name.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Work Order Number"
                                        ng-model="projectData.work_order_number"
                                        name="work_order_number"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.work_order_number.$error" ng-if="projectForm.work_order_number.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Scope of Work ID No"
                                        ng-model="projectData.scope_of_wrk_id"
                                        name="scope_of_wrk_id"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.scope_of_wrk_id.$error" ng-if="projectForm.scope_of_wrk_id.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="From Place"
                                        ng-model="projectData.pro_from"
                                        name="pro_from"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_from.$error" ng-if="projectForm.pro_from.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="To Place"
                                        ng-model="projectData.pro_to"
                                        name="pro_to"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_to.$error" ng-if="projectForm.pro_to.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Remarks"
                                        ng-model="projectData.remarks"
                                        name="remarks"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.remarks.$error" ng-if="projectForm.remarks.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" ng-disabled="projectForm.$invalid" ng-click="addProject()">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
		
		<div id="add-basic-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">Add Project</h4>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    </div> <!-- content -->
</div>