<div ng-include="'pages/sidebar.html'"></div>
<div class="content-page">
     <style>
        .action-icons i {
            font-size: 18px;
            color: #2a323c;
        }
		
		label{
			font-size: 10px!important;
		}
    </style>   
     <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Projects</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-body">
                                                        <h4 class="m-b-30 m-t-0">Projects List</h4>
														<a href="" class="pull-right btn btn-info" ng-click="exportToCSV()">Export to CSV</a>
														<br>
														<br>
                                                        <a href="" class="pull-right btn btn-info" data-toggle="modal" data-target="#add-project-modal">Add Project</a>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="table-responsive">
                                                                    <table class="table" id="projects">
                                                                        <thead>
                                                                        <tr>
																			<th>Client ID</th>
                                                                            <th>Name</th>
                                                                            <th>Company Name</th>
                                                                            <th>From</th>
                                                                            <th>To</th>
                                                                            <th>Work Order Number</th>
                                                                            <th>Scope of Work ID No</th>
                                                                            <th>Start Date & Time</th>
                                                                            <th>Last Update Date & Time</th>
                                                                            <th>Remarks</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="val in projectsList">
																				<td ng-bind="val.id"></td>
                                                                                <td ng-bind="val.project_name"></td>
                                                                                <td ng-bind="val.company_name"></td>
                                                                                <td ng-bind="val._from"></td>
                                                                                <td ng-bind="val._to"></td>                                           
                                                                                <td ng-bind="val.work_order_number"></td>
                                                                                <td ng-bind="val.scope_wrk"></td>
                                                                                <td ng-bind="val.created_date"></td>
                                                                                <td ng-bind="val.updated_date"></td>
                                                                                <td ng-bind="val.remarks"></td>
                                                                                <td>
                                                                                    <a href=""><i class="ion-trash-a" ng-click="delete(val.id)"></i></a>&nbsp;
                                                                                    <a href=""><i class="ion-edit" ng-click="edit(val)"></i></a>&nbsp;
                                                                                    <a href="" ng-click="addBasic(val.id)"><i class="ion-plus-round"></i></a>&nbsp;
                                                                                    <a href="#!/measurements/{{val.id}}"><i class="ion-ios7-download"></i></a>
                                                                                </td>
                                                                        </tr>
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- End row -->
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->

            </div><!-- container -->

        </div> <!-- Page content Wrapper -->
        <div id="add-project-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">Add Project</h4>
                    </div>
                    <div class="modal-body">
                        <div class="m-t-20">
                            <h4 class="{{class}}">{{message}}</h4>
                        <form class="" name="projectForm">
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Company Name"
                                        ng-model="projectData.pro_company_name"
                                        name="pro_company_name"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_company_name.$error" ng-if="projectForm.pro_company_name.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Project Name"
                                        ng-model="projectData.pro_name"
                                        name="pro_name"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_name.$error" ng-if="projectForm.pro_name.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Work Order Number"
                                        ng-model="projectData.work_order_number"
                                        name="work_order_number"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.work_order_number.$error" ng-if="projectForm.work_order_number.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Scope of Work ID No"
                                        ng-model="projectData.scope_of_wrk_id"
                                        name="scope_of_wrk_id"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.scope_of_wrk_id.$error" ng-if="projectForm.scope_of_wrk_id.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="From Place"
                                        ng-model="projectData.pro_from"
                                        name="pro_from"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_from.$error" ng-if="projectForm.pro_from.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="To Place"
                                        ng-model="projectData.pro_to"
                                        name="pro_to"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.pro_to.$error" ng-if="projectForm.pro_to.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input 
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Remarks"
                                        ng-model="projectData.remarks"
                                        name="remarks"
                                        autocomplete="off"
                                        required
                                >
                                <div ng-messages="projectForm.remarks.$error" ng-if="projectForm.remarks.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" ng-disabled="projectForm.$invalid" ng-click="addProject()">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
		
		<div id="add-basic-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">Add Project</h4>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <h4 class="{{class}}">{{message}}</h4>  
					<form style="overflow: hidden;" ng-show="switchForm1">
						<div class="form-group col-sm-3">
                                    <label>Latitude(D, M, S)</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Latitude"
                                            ng-model="measure.latitude"
                                            name="latitude"
                                            autocomplete="off"
                                            required
                                            id="lat"
                                            disabled
                                    >
                                    <!--<div ng-messages="opamgForm.latitude.$error" ng-if="opamgForm.latitude.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-sm-3">
                                    <label>Longitude(D, M, S)</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Longitude"
                                            ng-model="measure.longitude"
                                            name="longitude"
                                            autocomplete="off"
                                            required
                                            id="lng"
                                            disabled
                                    >
                                    <!--<div ng-messages="opamgForm.longitude.$error" ng-if="opamgForm.longitude.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-sm-3">
                                    <label>Northing</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Northing"
                                            ng-model="measure.northing"
                                            name="northing"
                                            autocomplete="off"
                                            required
                                            ng-blur="calOffset()"
                                            disabled
                                    >
                                    <!--<div ng-messages="opamgForm.northing.$error" ng-if="opamgForm.northing.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-sm-3">
                                    <label>Easting</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Easting"
                                            ng-model="measure.easting"
                                            name="easting"
                                            autocomplete="off"
                                            required
                                            ng-blur="calOffset()"
                                            disabled
                                    >
                                    <!--<div ng-messages="opamgForm.easting.$error" ng-if="opamgForm.easting.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>	
					</form>
                    <form name="opamgForm" ng-show="switchForm1">  
                            <div id="map_canvas" style="height: 500px;position: relative;/* overflow: hidden; */"></div>
                            
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                            
                    </form>
                    <form name="opamgForm1" ng-show="switchForm2">  <!---->
							<div class="text-center">
								<label>USING EQUIPMENTS LIST & FEUTURES</label>
							</div>
							<div class="form-group col-md-12">
								<select class="form-control" ng-model="measure.equipment" ng-change="readEquipment(measure.equipment)">
									<option ng-repeat="val in equipmentList" value="{{val}}">{{val.model_number}}</option>
								</select>
							</div>
                            <div class="form-group col-md-4">
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="MODLE NO"
                                            ng-model="equipment.model_number"
                                            name="hight_of_instrument"
                                            autocomplete="off"
											ng-disabled="true"
                                    >
                                    <!--<div ng-messages="opamgForm.hight_of_instrument.$error" ng-if="opamgForm.hight_of_instrument.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-md-4">
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="LAST CALIBRATION SERVIVE CENTER"
                                            ng-model="equipment.last_calibration_service_center"
                                            name="hight_of_instrument"
                                            autocomplete="off"
											ng-disabled="true"
                                    >
                                    <!--<div ng-messages="opamgForm.hight_of_instrument.$error" ng-if="opamgForm.hight_of_instrument.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-md-4">
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="EXPIRY DATE"
                                            ng-model="equipment.expiry_date"
                                            name="hight_of_instrument"
                                            autocomplete="off"
											ng-disabled="true"
                                    >
                                    <!--<div ng-messages="opamgForm.hight_of_instrument.$error" ng-if="opamgForm.hight_of_instrument.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-md-6">
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="LEAST COUNT"
                                            ng-model="equipment.least_count"
                                            name="hight_of_instrument"
                                            autocomplete="off"
											ng-disabled="true"
                                    >
                                    <!--<div ng-messages="opamgForm.hight_of_instrument.$error" ng-if="opamgForm.hight_of_instrument.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-md-6">
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="OWNER / INCHARGE"
                                            ng-model="equipment.owner"
                                            name="hight_of_instrument"
                                            autocomplete="off"
											ng-disabled="true"
                                    >
                                    <!--<div ng-messages="opamgForm.hight_of_instrument.$error" ng-if="opamgForm.hight_of_instrument.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
							<div class="form-group col-md-4">
                                    <label>Hight of Instrument</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Hight of Instrument"
                                            ng-model="measure.hight_of_instrument"
                                            name="hight_of_instrument"
                                            autocomplete="off"

                                    >
                                    <!--<div ng-messages="opamgForm.hight_of_instrument.$error" ng-if="opamgForm.hight_of_instrument.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>	
                            <div class="form-group col-md-4">
									
                                    <label>ADJ RL</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="ADJ RL"
                                            ng-model="measure.adj_rl"
                                            name="adj_rl"
                                            autocomplete="off"

                                    >
                                    <!--<div ng-messages="opamgForm.adj_rl.$error" ng-if="opamgForm.adj_rl.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>	
                            <div class="form-group col-md-4">
                                    <label>TBM RL</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="ADJ RL"
                                            ng-model="measure.adj_rl"
                                            name="adj_rl"
                                            autocomplete="off"

                                    >
                                    <!--<div ng-messages="opamgForm.adj_rl.$error" ng-if="opamgForm.adj_rl.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <div class="form-group col-md-12">
                                    <label>Remarks</label>
                                    <input 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Remarks"
                                            ng-model="measure.remarks"
                                            name="remarks"
                                            autocomplete="off"

                                    >
                               <!-- <div ng-messages="opamgForm.remarks.$error" ng-if="opamgForm.remarks.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                    </div>-->
                            </div>
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary waves-effect waves-light" ng-disabled="opamgForm1.$invalid" ng-click="addMeasurement()">Save changes</button>
                            <div class="clearfix"></div>
                        </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    </div> <!-- content -->
</div>