        <div class="accountbg"></div>
        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">

                <div class="panel-body">
                     <div class="text-center">
                        <img src="assets/images/logo.jpg" >
                    </div> 
                    <h4 class="text-muted text-center m-t-0"><b>Registration</b></h4>
                    <h4 class="{{class}} text-center">{{message}}</h4>
                    <form class="form-horizontal m-t-20" name="registerForm" ng-submit="addUser()">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="Full Name"
                                        ng-model="registration.name"
                                        name="name"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.name.$error" ng-if="registerForm.name.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="number"                                     
                                        placeholder="Phone Number"
                                        ng-model="registration.phone"
                                        name="phone"
                                        autocomplete="off"
                                        ng-minlength="10"
                                        ng-maxlength="10"
                                        required
                                        >
                                    <div ng-messages="registerForm.phone.$error" ng-if="registerForm.phone.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                        <div ng-message="minlength" class="error">Phone Number is too short</div>
                                        <div ng-message="maxlength" class="error">Phone Number is too Long</div>
                                    </div>
                                </div>
                            </div>
                             
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" 
                                        type="password"                                     
                                        placeholder="Password"
                                        ng-model="registration.password"
                                        name="password"
                                        autocomplete="off"
                                        required
                                        >
                                    <div ng-messages="registerForm.password.$error" ng-if="registerForm.password.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <h5>Residential Address</h5>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="Address"
                                        ng-model="registration.address"
                                        name="address"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.address.$error" ng-if="registerForm.address.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="City"
                                        ng-model="registration.city"
                                        name="city"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.city.$error" ng-if="registerForm.city.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="District"
                                        ng-model="registration.district"
                                        name="district"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.district.$error" ng-if="registerForm.district.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="number"                                     
                                        placeholder="Pin code"
                                        ng-model="registration.pincode"
                                        name="pincode"
                                        autocomplete="off"
                                        ng-minlength="6"
                                        ng-maxlength="6"
                                        required
                                    >
                                    <div ng-messages="registerForm.pincode.$error" ng-if="registerForm.pincode.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                        <div ng-message="minlength" class="error">Pin code is too short</div>
                                        <div ng-message="maxlength" class="error">Pin code is too Long</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="State"
                                        ng-model="registration.state"
                                        name="state"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.state.$error" ng-if="registerForm.state.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="Country"
                                        ng-model="registration.country"
                                        name="country"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.country.$error" ng-if="registerForm.country.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="email"                                     
                                        placeholder="Email ID"
                                        ng-model="registration.email"
                                        name="email"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="Identification Number"
                                        ng-model="registration.id_no"
                                        name="id_no"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.id_no.$error" ng-if="registerForm.id_no.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="col-xs-12">
                                        <input 
                                            class="form-control" 
                                            type="password" 
                                            placeholder="Re-Password"
                                            ng-model="password1"
                                            name="password1"
                                            autocomplete="off"
                                            required
                                        >
                                        <div ng-messages="registerForm.password1.$error" ng-if="registerForm.password1.$dirty" >
                                            <div ng-message="required" class="error">This field is required</div>
                                        </div>
                                        <p ng-show="registerForm.password.$viewValue != registerForm.password1.$viewValue" class="error">Passwords not matching</p>

                                </div>
                            </div>
                            <h5>Corporate Address</h5>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="Address"
                                        ng-model="registration.corpaddress"
                                        name="corpaddress"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.corpaddress.$error" ng-if="registerForm.corpaddress.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="City"
                                        ng-model="registration.corpcity"
                                        name="corpcity"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.corpcity.$error" ng-if="registerForm.corpcity.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="District"
                                        ng-model="registration.corpdistrict"
                                        name="corpdistrict"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.corpdistrict.$error" ng-if="registerForm.corpdistrict.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="number"                                     
                                        placeholder="Pin code"
                                        ng-model="registration.corppincode"
                                        name="corppincode"
                                        autocomplete="off"
                                        ng-minlength="6"
                                        ng-maxlength="6"
                                        required
                                    >
                                    <div ng-messages="registerForm.corppincode.$error" ng-if="registerForm.corppincode.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                        <div ng-message="minlength" class="error">Pin code is too short</div>
                                        <div ng-message="maxlength" class="error">Pin code is too Long</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="State"
                                        ng-model="registration.corpstate"
                                        name="corpstate"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.corpstate.$error" ng-if="registerForm.corpstate.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input 
                                        class="form-control" 
                                        type="text"                                     
                                        placeholder="Country"
                                        ng-model="registration.corpcountry"
                                        name="corpcountry"
                                        autocomplete="off"
                                        required
                                    >
                                    <div ng-messages="registerForm.corpcountry.$error" ng-if="registerForm.corpcountry.$dirty" >
                                        <div ng-message="required" class="error">This field is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center m-t-40">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit" ng-disabled="registerForm.$invalid">Register</button>
                            </div>
                        </div>

                        <div class="form-group m-t-30 m-b-0">
                            <div class="col-sm-12 text-center">
                                <a href="#!/" class="text-muted">Already have account?</a>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>


