<div ng-controller="sidebarController">
<div class="topbar">
   
    <div class="topbar-left">
        <div class="text-center">
            <a href="#!/dasboard" class="logo"><img src="assets/images/logo.jpg" ></a>
            <a href="#!/dashboard" class="logo-sm"><span>OPMG</span></a>
           
                        
        </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button type="button" class="button-menu-mobile open-left waves-effect waves-light" ng-click="hideMenu()">
                        <i class="ion-navicon"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <img src="assets/images/users/profile.png" alt="user-img" class="img-circle">
                            <span class="profile-username">
                                {{session_name}} <br/>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="javascript:void(0)" ng-click="showChangePopup()"> Change Password</a></li>
                            <li class="divider"></li>-->
                            <li><a href="#!/logout"> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->
            <!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <div class="user-details">
            <div class="text-center">
                <img src="assets/images/users/profile.png" alt="" class="img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{session_name}}</a>

                </div>

            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="#!/projects" class="waves-effect {{activeProject}}"><i class="mdi mdi-view-list"></i> <span> Projects </span></a>                    
                </li>
                <li ng-if="session_name == 'Admin'">
                    <a href="#!/users" class="waves-effect {{activeUser}}"><i class="mdi mdi-worker"></i> <span> Users </span></a>                    
                </li>
                <li ng-if="session_name == 'Admin'">
                    <a href="#!/roles" class="waves-effect {{activeRoles}}"><i class="mdi mdi-account-network"></i> <span> User Roles </span></a>                    
                </li>
                <li ng-if="session_name == 'Admin'">
                    <a href="#!/layers" class="waves-effect {{activeLayers}}"><i class="mdi mdi-book"></i> <span> Layers </span></a>                    
                </li>
                <li ng-if="session_name == 'Admin'">
                    <a href="#!/equipments" class="waves-effect {{activeEqui}}"><i class="mdi mdi-eyedropper"></i> <span> Equipments Lists</span></a>                    
                </li>
            </ul>
        </div>
    </div>
</div>

</div>